.body{
    display: flex;
    background: rgb(0, 0, 0);
}

.img-thumbnail{
    width: 20vw;
}

.title1{
    font-family: 'Lekton', sans-serif;
    font-family: 'Lekton04', sans-serif;
    color: #5039B8;
    border-color: #97CC04;
}